

.msg_input {
    padding: 20px;
    width: 276px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f7f7f7;
    border-radius: 28px;
    border: none;
    outline-color: #257677;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.chat_frame {
    background-image: url("/public/icons/telegarm_image.jpeg");
    background-size: cover;
    border-radius: 15px;
    /*margin-bottom: 10px;*/
}


.chat_frame .chat_main_right {
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 15px;
}

.chat_frame .chat_top {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 94px;
    align-items: center;
    color: #000;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.chat_content {
    position: relative;
    padding: 17px 0px 17px 17px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    margin-top: 10px;
}

.chat_bott {
    width: 100%;
    height: 94px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat_content .chat_main {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.chat_content .chiziq {
    position: absolute;
    width: 1px;
    height: 970px;
    top: 0;
    right: 11px;
}

.chat_bott .send_msg_btn {
    margin-left: 14px;
    color: #fff;
    font-size: 12px;
    width: 50px;
    border: none;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(180deg, #55a99d 0%, #007665 100%);
    padding-bottom: 2px;
}

.send_msg_btn svg {
    font-size: 21px;
    transform: translateX(3px);
}

.msg_right {
    padding: 5px 10px;
    width: auto;
    height: auto;
    display: flex;
    background: #c6f2eb;
    border-radius: 20px 20px 0px 20px;
}

.user_cont  {
    color: #000;
}



.chat_main .msg_left {
    margin-left: 10px;
    padding: 5px 10px;
    width: auto;
    height: auto;
    display: flex;
    background: rgba(232, 229, 229, 0.83);
    border-radius: 20px 20px 20px 0px;
}

/* width */
.chat_frame ::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.chat_frame ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.chat_frame ::-webkit-scrollbar-thumb {
    background: #a1a1a1;
    border-radius: 10px;
}

.css-ltjzd6-MuiButtonBase-root-MuiTab-root.Mui-selected {
    /* border-bottom: 1px solid #0288d1; */
    font-size: 18px;
}

.css-79ws1d-MuiModal-root {
    height: 0px;
    width: 0px;
}
