/* allProduct_page css */

.all_property_frame {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    background-color: #fafafa;
    padding: 50px 10px 100px 10px;
}

.allProduct_middle_left {
    position: relative;
    margin-right: 30px;
}

.allProduct_main {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    flex-direction: column;
}

.allProduct_type_button {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 100px;

}

.property_filter_main_middle {
    flex-direction: row;
    justify-content: space-between;
}

.allProduct_middle_middle {
    position: relative;
    flex-direction: row;
    width: auto;
    height: max-content;
    flex-wrap: wrap;
    margin-bottom: 40px;

}

.allProduct_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.allProduct_middle {
    position: relative;
    justify-content: space-between;
    margin-top: 50px;
}

.allProduct_search_part {
    width: 100%;
    height: 114px;
    position: relative;
    display: flex;
    border-radius: 28px;
    border: 1px solid #C7D5E1;
    background: #EAF0F5;
    margin-top: 40px;
    padding: 25px;

}


.allProduct_each_box {
    width: 100%;
    height: 55px;
    border-radius: 25px;
    justify-content: space-between;
    flex-direction: row;
    /*border-radius: 18px;*/
    /*border: 1px solid #C7D5E1;*/
    /*background: #fff;*/
}


/*ChosenProduct_page frame*/

.dish_container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: auto;
}

/*agency Page*/

.all_agency {
    width: 100%;
    height: auto;
    position: relative;
    justify-content: space-between;
    padding: 50px 50px 50px 50px;

}


.all_agency_frame .fil_search_box {
    position: relative;
    width: 100%;
    height: 33px;
    margin-top: 50px;
    max-width: 1305px;
    margin-right: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.all_agency_frame.fil_box {
    position: relative;
    width: 420px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.all_agency_frame .fil_box a {
    position: relative;
    display: flex;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    justify-content: flex-end;
    line-height: 25px;
    color: #FFFFFF;
    margin-right: 30px;
    /*background-color: #ffcc00;*/
    /*height: 35px;*/
    /*width: 150px;*/
    /*border-radius: 5px;*/
}

.all_agency_frame .fil_box a {
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.all_agency_frame .fil_box a::before,
.fil_box a::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
}

.all_agency_frame .fil_box a::before {
    background-color: #d7b686;
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.all_agency_frame .fil_box a::after {
    content: attr(data_replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
    color: #d7b686;
}

.all_agency_frame .fil_box a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
}

.all_agency_frame .fil_box a:hover::after {
    transform: translate3d(0, 0, 0);
}

.all_agency_frame .fil_box a span {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.all_agency_frame.fil_box a:hover span {
    transform: translate3d(-200%, 0, 0);
}

.all_agency_frame .fil_box a {
    text-decoration: none;
    color: #ae0000;
    font-weight: 400;
    vertical-align: top;
}


.all_agency_box {
    position: relative;
    width: 100%;
    height: auto;
    justify-content: space-between;
    margin-top: 50px;
}
.agency_second {
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
}


.bottom_box {
    margin-top: 50px;
}





/* Comment */
.homepage .comment_frame{
    width: 100%;
    height: 629px;
    flex-shrink: 0;
    background-color: #fafafa;
    padding: 50px 50px 50px 50px;
}
.homepage .comment_frame_box{
    color: #000;
    margin-bottom: 40px;
    text-align: center;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 85.714% */
}

.homepage .comment_frame_box a {
    margin-top: 40px;
}

.homepage .comment_frame_box p{
    width: 584px;
    height: 53px;
    flex-shrink: 0;
    color: rgba(0, 0, 0, 0.60);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.homepage .comment_middle_box{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.homepage .comment_main_box{
    width: 428px;
    height: 269px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;

    /* shadow01 */
    box-shadow: 0px 7px 20px 0px rgba(141, 40, 173, 0.15);
}
.homepage .comment_main_box .comment_img{
    width: 196px;
    height: 25px;
    flex-shrink: 0;
    padding: 30px 202px 21px 30px;
}
.homepage .text_def{
    width: 380px;
    height: 70px;
    flex-shrink: 0;
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 5px 18px 114px 30px;
}
.homepage .text_def p {
    height: 27px;
    width: 110px;
    flex-direction: row;
    color: #3D3D3D;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 15px 188px 57px 5px;
}
.homepage .author_book img {
    width: 54px;
    height: 54px;
    flex-shrink: 0;
    margin-left: 280px;
    border-radius: 10px;
    background: #FFF;

    /* shadow01 */
    box-shadow: 0px 7px 20px 0px rgba(141, 40, 173, 0.15);

}
.homepage .comment_pagination{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    fill: #FFF;
    filter: drop-shadow(0px 7px 20px rgba(141, 40, 173, 0.15));


}


/*comment page*/










